:root {
  --primaryColor: #ffc400;
  --secundaryColor: #181a23;
  --tertiaryColor: #ebdbff;
  --white: #ffffff;
  --black: #161617;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: #2e364a;
}
nav {
  background-color: var(--white);
  display: flexbox;
  height: 8em;
}
nav h1 {
  font-weight: bold;
  translate: 0.5em 0.5em;
  font-size: 2em;
}
nav ul {
  padding: 0.5em;
  padding-top: 0.2em;
  translate: 0 1em;
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  display: inline;
  padding-left: 10px;
}

/* Styling timeline */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

.container {
  padding: 10px 50px;
  padding-left: 80px;
  padding-right: 25px;
  position: relative;
  width: 100%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5) {
  animation-delay: 4s;
}

.container:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 13px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 0;
}

.container img {
  position: absolute;
  width: 40px;
  left: 10px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: 10px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 31px;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (min-width: 565px) {
  .timeline {
    margin: 100px auto;
  }

  .timeline::after {
    left: 50%;
  }
  /* .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  } */
  .container {
    width: 50%;
    padding: 10px 50px;
  }

  .text-box {
    font-size: 15px;
  }

  .right-container {
    left: 50%;
  }

  .left-container img {
    right: -20px;
    left: 580px;
  }

  .right-container img {
    left: -20px;
  }

  .left-container-arrow {
    /* border-right: 0; */
    border-right: 15px solid #ff0000;
    left: 0;
    /* right: -15px; */
  }

  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

/* .opties {
  width: 100%;
  text-align: center;
  padding-top: 4.25em;
  background-color: var(--secundaryColor);
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--black);
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.opties-col {
  flex-basis: 31%;
  background: var(--tertiaryColor);
  border-radius: 10px;
  margin: 1.7em;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 0.2em 0;
}

.opties-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.opties-col {
  flex-basis: 100%;
  margin-bottom: 1em;
}

footer {
  background-color: var(--secundaryColor);
}
footer p {
  padding: 1em;
  font-size: 14px;
  color: var(--primaryColor);
} */
